/* font */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}


/* similar  */
.dark-2{
  color: #424242;
}
.dark-3{
  color: #727272;
}
.orange{
  color: #FF900E;
}
.black{
  color: black;

}
.bg-1{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-1{
  padding: 15px 17px 20px 12px;
  margin: 32px 0 50px 0;
  font-size: 1.3rem ;
  color: white;
  font-weight: 800;
  background-color: #FF900E ; 
  border: 3px solid #FF900E;
  border-radius: 15px ;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.274);
}
.btn-1:hover{
  background-color: aliceblue;
  color: red;
}
/* nav-styles */
.navbar ,.nav-links {
  display: flex;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  list-style: none;
  margin-right: 40px;

}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
}
.brand{
  font-size: 2.8rem;
  font-weight: bold;
}
  



/* banner */
.banner-content{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  font-weight:bold;
  font-size: 4rem;
}
.banner-description{
  font-size: 1rem;
  font-weight: bold;
}
.banner-img{
  margin-bottom: 50px;
  width: 100%;
}




  /*        main           */
 main{
  max-width: 1318px;
  margin: 0 auto;
 }


 .team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
 }
 .teams{
  display: flex;
  align-items: center;
  gap: 73px ;
  margin-top: 70px ;
 }

 .feature-title{
  font-size: 2.8rem;
 }
 .feature-title{
  font-size: 2.8rem;
 }
.our-features{
  max-width: 500px;
}


/*  section-style */
 .section-title{
  font-weight: bold ;
  font-size: 2.8rem;
  margin: 1px;
 }

.some-facts{
  width: 38%;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 7.76rem;
}
.fact{
  text-align: center;
}
/*                               media                      */

@media screen and (max-width:576px) {
  .navbar{
    flex-direction: column-reverse;
  }
  .nav-link{ 
    font-size: 14px;
    margin: 0 auto;
    
  }
  .teams{
    flex-direction: column;
  }
  .img-2{
    width: 100%;
  }
  .our-features{
    margin-left: 20px;
  }
  .feature-title{
    margin-top: 0px;
  }
}
@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }
  .img-2{
    width: 100%;
  }
  .our-features{
    margin-left: 2px;
  }
  .our-features{
  max-width: 500px;
}
.feature-title{
    margin-top: 0px;
  }
}




